:root {
    --purple: #5E3570;
    --black: #212121;
    --white: #fff;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Inter-Thin.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Inter-ExtraLight.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Inter-Light.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Inter-Regular.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Inter-Medium.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Inter-SemiBold.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Inter-Bold.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Inter-ExtraBold.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Inter-Black.eot');
    font-display: swap;
}

/*HEADER*/
.header-top {
    background-color: var(--purple);
    padding: 7px;
}

.custom_text {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
}

.border_custom_text {
    width: 2px;
    height: 17px;
    background: rgba(255, 255, 255, 0.2);
}

.header_top_left {
    gap: 10px;
    text-align: center;
    align-items: center;
}

.section_intro {
    background-color: var(--white);
}

.header_middle {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 24px;
}

.link_wrapper {
    color: var(--black);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.contact_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border: 0;

    border-radius: 8px;
    background: var(--purple);

    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

/*HEADER END*/