:root {
    --purple: #5E3570;
    --black: #212121;
    --white: #fff;
}

a {
    text-decoration: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
}

a small {
    opacity: 1 !important;
}

/* Скрыть текст "файл не выбран" */
input[type="file"]::before {
    display: none;
}

/* Скрыть кнопку "выбрать файл" */
input[type="file"]::-webkit-file-upload-button {
    display: none;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

/* Removes default focus */
input:focus {
    outline: none !important;
    box-shadow: none;
}

input {
    -webkit-appearance: none; /* Отключаем стандартные стили в WebKit браузерах */
    outline: none !important;
    box-shadow: none !important;
}

select {
    -webkit-appearance: none; /* Отключаем стандартные стили в WebKit браузерах */
    outline: none !important;
    box-shadow: none !important;
}

@font-face {
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Inter-Thin.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Inter-ExtraLight.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Inter-Light.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Inter-Regular.eot');
    font-display: swap;
}

@font-face {
    font-family: 'SF-Pro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/SF-Pro-Display-Regular.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Inter-Medium.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Inter-SemiBold.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Inter-Bold.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Inter-ExtraBold.eot');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Inter-Black.eot');
    font-display: swap;
}

/*.custom-container {*/
/*    max-width: 1527px;*/
/*}*/

.site {
    background: #F2F3F7;
}

/*HEADER*/
.header-top {
    background-color: var(--purple);
    padding: 7px;
}

.custom_text {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
}

.border_custom_text {
    width: 2px;
    height: 17px;
    background: rgba(255, 255, 255, 0.2);
}

.header_top_left {
    gap: 24px;
    text-align: center;
    align-items: center;
}

.section_intro {
    background-color: var(--white);
}

.header_middle {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.nav_block {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 24px;
}

.link_wrapper {
    color: var(--black);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.contact_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border: 0;

    border-radius: 8px;
    background: var(--purple);

    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

.lng_option a {
    color: var(--black);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
}

.lang {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    justify-content: end;
}

.contact_block {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    justify-content: end;
}

/*HEADER END*/

/*MAIN*/
.main {
    background: url("/assets/img/main-background.png");
    background-size: cover;
}

.main_content {
    padding-top: 213px;
    padding-bottom: 393px;
}

.main_text {
    color: var(--white);
    font-family: "Inter";
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

.main_title {
    color: var(--white);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;


    margin: 24px 0;
}

/*MAIN END*/

/*OFFERS*/

.offers {
    background: var(--white);
}

.offers_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.offers_content {
    padding: 47px 0 56px 0;
}

.offers_card_item {
    width: 588px;
    min-height: 392px;
    display: flex;
    border-radius: 10px;
    margin-top: 24px;
    background: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: end;

}

.offers_card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 317px 36px 36px 32px;
}

.offers_card_title {
    color: var(--white);
    font-family: "Inter";
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

/*OFFERS END*/

/*GOODS*/
.goods {
    background: #F2F3F7;
}

.goods_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.goods_content {
    padding: 40px 0 40px 0;
}

.goods_card_block_image {
    border-radius: 12px;
    background: var(--white);
}

.goods_card_image {
    padding: 4px;
    border-radius: 10px;
}

.goods_card_row {
    gap: 24px;
    margin-top: 24px;
}

.goods_card_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    margin: 12px 0px;

}

.goods_card_button {
    color: var(--purple);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

/*GOODS END*/

/*UR_WORKS*/

.our_works {
    background: #F2F3F7;
}

.our_works_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.our_works_content {
    padding: 40px 0 40px 0;
}

.our_works_card_block_image {
    border-radius: 12px;
    background: var(--white);
}

.our_works_card_image {
    border-radius: 10px;
    padding: 5px;
}

.our_works_card_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    margin-top: 16px;
}

.our_works_card_row {
    justify-content: space-between;
    margin-top: 24px;
}

/*UR_WORKS END*/

/*LEAVE REQUEST*/

.leave_request {
    background: #F2F3F7;

    padding: 0 0 51px 0;
}

.leave_request_content {
    background: var(--white);
    border-radius: 32px;
    padding: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leave_request_title {
    color: rgb(10, 10, 10);
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.leave_request_text {
    color: rgb(10, 10, 10);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

/*LEAVE REQUEST END*/

/*ABOUT*/
.about_slider_content {
    background: url("/assets/img/main-background.png");
    background-size: cover;
    border-radius: 12px;

    margin-top: 12px;
}

.about_slider_text {
    color: var(--white);
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

    padding: 92px 0 92px 40px;
}

.about_content {
    padding-top: 40px;
}

.about_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    margin-bottom: 12px;
}

.about_text {
    color: rgb(30, 30, 30);
    font-family: "Inter";

    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.our_works_content_about {
    padding: 100px 0;
}

/*ABOUT END*/


/*FOOTER*/
footer {
    border-top: 1px solid rgba(30, 30, 30, 0.12);
    background: var(--white);
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px 0;
}

.footer_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_custom_text, .footer_custom_text a,
.footer_custom_text span {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer_custom_text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright {
    background: rgb(30, 30, 30);
}

.copyright_content {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.copyright_text {
    font-family: "SF-Pro";
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.copyright_link {
    border-radius: 16px;
    background: rgb(43, 45, 49);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 32px;
    height: 32px;

}

/*FOOTER END*/