:root {
    --purple: #5E3570;
    --black: #212121;
    --white: #fff;
}

a {
    text-decoration: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
}

a small {
    opacity: 1 !important;
}

/* Скрыть текст "файл не выбран" */
input[type="file"]::before {
    display: none;
}

/* Скрыть кнопку "выбрать файл" */
input[type="file"]::-webkit-file-upload-button {
    display: none;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

/* Removes default focus */
input:focus {
    outline: none !important;
    box-shadow: none;
}

select {
    -webkit-appearance: none; /* Отключаем стандартные стили в WebKit браузерах */
    outline: none !important;
    box-shadow: none !important;
}

@font-face {
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Inter-Thin.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Inter-ExtraLight.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Inter-Light.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Inter-Regular.otf');
    font-display: swap;
}

@font-face {
    font-family: 'SF-Pro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/SF-Pro-Display-Regular.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Inter-Medium.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Inter-SemiBold.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Inter-Bold.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Inter-ExtraBold.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Inter-Black.otf');
    font-display: swap;
}

/*.custom-container {*/
/*    max-width: 1527px;*/
/*}*/

.site {
    background: #F2F3F7;
}

/*HEADER*/
.header-top {
    background-color: var(--purple);
    padding: 7px;
}

.header_top_row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

.header_top_contact {
    grid-column: span 2;
}

.custom_text {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
}

.border_custom_text {
    width: 2px;
    height: 17px;
    background: rgba(255, 255, 255, 0.2);
}

.header_top_left {
    gap: 24px;
    text-align: center;
    align-items: center;
}

.section_intro {
    background-color: var(--white);
}

.header_middle {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;;
    padding: 10px 0;
    justify-content: space-between;
}

.nav_block {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 24px;
}

.link_wrapper {
    color: var(--black);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.contact_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border: 0;

    border-radius: 8px;
    background: var(--purple);

    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

.lng_option a {
    color: var(--black);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
}

.lang {
    /*align-items: center;*/
    /*display: inline-flex;*/
    /*vertical-align: middle;*/
    /*justify-content: end;*/
}

.contact_block {
    align-items: center;
    display: flex;
    vertical-align: middle;
    justify-content: end;
    gap: 32px;
}

/*burger menu*/

.mobile_nav {
    display: none;
}

.mobile_nav {
    align-items: center;
    gap: 13px;
    justify-content: end;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 18px;
    height: 15px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: var(--orange);
}

.burger::before {
    top: 0;
    box-shadow: 0 6px 0 var(--orange);
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}


.b-menu {
    cursor: pointer;
    display: block;
    opacity: 0;
    /* height: 66px; */
    /*padding-top: 17px;*/
    position: relative;
    top: -8px;
    /*width: 43px;*/
    z-index: 20;
    /*right: 10px;*/
}

.b-bun--bottom,
.b-bun--mid,
.b-bun--top {
    height: 3px;
    width: 25px;
    border-radius: 10px;
}

.b-bun {
    background: var(--purple);
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.b-brand,
.b-bun {
    position: relative;
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.b-bun--top {
    top: 4px;
}

.b-bun--mid {
    top: 8px;
}

.b-bun--bottom {
    top: 12px;
}

.b-brand {
    color: #2196f3;
    top: -21.43px;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 13;
}

.b-container {
    /*position: absolute;*/
    /*top: 20px;*/
}

.b-container:hover:not(.open) .bun-bottom,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-top {
    background: #2196f3;
}

.b-container.open .b-bun--top {
    background: var(--purple);
    top: 11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.b-container.open .b-bun--mid {
    opacity: 0;
}

.b-container.open .b-bun--bottom {
    background: var(--purple);
    top: 5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.b-container.open .b-brand {
    color: var(--white);
}

/* main menu block */
.mainMenu {
    background-color: var(--white);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    height: 100vh;
    width: 100%;
    display: grid;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
}

.mainMenu.open {
    opacity: 1;
    transform: scale(1);
}

.mainMenu.open ul li {
    opacity: 1;
    transform: translateX(0);
    margin-top: 4px;
}

.mobile_nav_bottom {
    height: 1px;
    background: #DFE1EF;
    margin-top: 8px;
}

.mobile_nav_top {
    height: 1px;
    background: #DFE1EF;
    margin-bottom: 8px;
}

.custom_text_mobile_menu {
    color: var(--purple) !important;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    gap: 16px;
    display: flex;
    justify-content: start;
    margin-top: 25px;
}

.mainMenu ul {
    display: table-cell;
    vertical-align: middle;
    margin-top: 80px;
    padding: 0 22px;
}

.mainMenu li {
    padding: 24px 32px;
    transition: all 400ms 510ms;
    opacity: 0;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #F1F5F9;


    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.mainMenu li:nth-child(odd) {
    transform: translateX(30%);
}

.mainMenu li:nth-child(even) {
    transform: translateX(-30%);
}

.mainMenu li:last-child {
    transform: none;
}

.mainMenu a {
    color: var(--black);
    display: inline-block;
    font-size: 18px;
}

.mainMenu a.suBtn {
    color: #fff;
}

/* ///////////////////////////////////////// */
/*HEADER END*/

/*MAIN*/
.main {
    background: url("/assets/img/main-background.png");
    background-size: cover;
}

.main_content {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main_text {
    color: var(--white);
    font-family: "Inter";
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

.main_title {
    color: var(--white);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;


    margin: 24px 0;
}

/*MAIN END*/

/*OFFERS*/

.offers {
    background: var(--white);
}

.offers_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.offers_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.offers_content {
    padding: 47px 0 56px 0;
}

.offers_card_item {
    min-height: 392px;
    display: flex;
    border-radius: 10px;
    margin-top: 24px;
    background: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: end;

    background-size: cover;
}

.offers_card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 317px 36px 36px 32px;
}

.offers_card_title {
    color: var(--white);
    font-family: "Inter";
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

/*OFFERS END*/

/*GOODS*/
.goods {
    background: #F2F3F7;
}

.goods_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.goods_content {
    padding: 40px 0 40px 0;
}

.goods_card_block_image {
    border-radius: 12px;
    background: var(--white);
}

.goods_card_image {
    padding: 4px;
    border-radius: 10px;

    width: 100%;
}

.goods_card_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 24px;
    margin-top: 24px;
}

.goods_card_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    margin: 12px 0px;

}

.goods_card_button {
    color: var(--purple);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

/*GOODS END*/

/*UR_WORKS*/

.our_works {
    background: #F2F3F7;
}

.our_works_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.our_works_content {
    padding: 40px 0 151px 0;
}

.our_works_card_block_image {
    border-radius: 12px;
    background: var(--white);
}

.our_works_card_image {
    border-radius: 10px;
    padding: 5px;

    width: 100%;
}

.our_works_card_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    margin-top: 16px;
}

.our_works_card_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: space-between;
    margin-top: 24px;

    gap: 24px;
}

/*UR_WORKS END*/

/*LEAVE REQUEST*/

.leave_request {
    background: #F2F3F7;

    padding: 0 0 51px 0;
}

.leave_request_content {
    background: var(--white);
    border-radius: 32px;
    padding: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leave_request_title {
    color: rgb(10, 10, 10);
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.leave_request_text {
    color: rgb(10, 10, 10);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

/*LEAVE REQUEST END*/

/*ABOUT*/
.about_slider_content {
    background: url("/assets/img/main-background.png");
    background-position: 50%;
    background-size: cover;
    border-radius: 12px;

    margin-top: 12px;
}

.about_slider_text {
    color: var(--white);
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

    padding: 92px 0 92px 40px;
}

.about_content {
    padding-top: 40px;
}

.about_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    margin-bottom: 12px;
}

.about_text {
    color: rgb(30, 30, 30);
    font-family: "Inter";

    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.our_works_content_about {
    padding: 100px 0;
}

/*ABOUT END*/

/*OUR WORKS*/
/*pagination*/

.nav_pagination {
    padding: 0 0 44px 0;
}

.pagination {
    /* Ваши собственные стили здесь */
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 6px;
}

.pagination_swiper {
    gap: 16px;
}

.swiper-wrapper {
    height: initial !important;
}

.active > .page-link, .page-link.active {
    background-color: var(--purple) !important;
    color: var(--white) !important;
}

.page-link:hover {
    background-color: var(--purple) !important;
    color: var(--white) !important;

}

.page-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.87) !important;
    border: none;
    gap: 20px;
    background: transparent;
}

.page_link_reports {
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
}

.page_link_reports:focus {
    outline: none !important;
    box-shadow: none;
}

.bottom_link {
    background: none;
}

.disabled > .page-link, .page-link.disabled {
    background: none;
}

.page-link.disabled i {
    color: #0000008A !important;

}

.page-link i {
    color: rgba(0, 0, 0, 0.54) !important;
}

/*pagination end*/


/*OUR WORKS END*/

/*CONTACT*/

/*CONTACT END*/

/*EQUIPMENT*/
.equipment {
    margin: 24px 0 64px 0;
}

.filter_content {
    border-radius: 12px;
    background: var(--white);
}

.filter_subtitle {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.filter_catalogs_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    margin: 24px 0 24px 0;
}

.filter_content {
    padding: 24px 24px 32px 24px;
}

.filter_catalogs_content {

}

.filter_catalogs_form {

}

.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;

    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.checkbox-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 2px solid rgb(30, 30, 30);
    border-radius: 6px;
    background: #fff;
    transition: .3s;
}

.checkbox-icon {
    opacity: 0;
    transition: .3s;
}

.checkbox:checked + .checkbox-view {
    background-color: var(--purple);
    border: none;
}

.checkbox:checked + .checkbox-view .checkbox-icon {
    opacity: 1;
}

.filter_catalogs_label {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

}

.filter_catalogs_checkbox_block {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 24px;

}


.equipment_card_row {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.equipment_nav_pagination {
    margin-top: 64px;
}

.specifications {
    margin-top: 64px;
}

.specifications_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.specifications_content {
    margin-top: 24px;
}

.specifications_block {
    display: flex;

    padding: 12px 16px 12px 16px;
}

.specifications_block2 {
    display: flex;
    background: var(--white);

    padding: 12px 16px 12px 16px;
}

.specifications_block_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    opacity: 0.5;

}

.specifications_block_description {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.equipment_detail {
    margin-top: 24px;
}

.equipment_detail_row {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.equipment_detail_name {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.equipment_detail_manufacturer {
    margin: 16px 0 24px 0;
}

.equipment_detail_manufacturer_name {
    color: rgb(94, 53, 112);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    border: 1px solid rgb(94, 53, 112);
    border-radius: 8px;
    background: rgba(110, 68, 255, 0.1);

    width: 47px;
    height: 37px;

    margin-top: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.equipment_detail_manufacturer_title {
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.equipment_detail_description_title {
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.equipment_detail_description_text {
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

/*slider*/
body {
    background: #121212;
}

.slider {
    color: #fff;
}

.slider .swiper-container {
    width: 100%;
    height: 100%;
}

.slider__flex {
    display: flex;
    align-items: flex-start;
}

.slider__col {
    display: flex;
    flex-direction: column;
    width: 93px;
    margin-right: 7px;
}

.slider__prev,
.slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider__prev:focus,
.slider__next:focus {
    outline: none;
}

.slider__thumbs {
    height: calc(400px - 96px);
}

.slider__thumbs .slider__image {
    transition: 0.25s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.slider__thumbs .slider__image:hover {
    opacity: 1;
}

.swiper-slide-thumb-active {
    border: 1px solid var(--purple);
}

.swiper-slide {
    border-radius: 4px;
    background: var(--white);

    width: 77px !important;
    height: 77px !important;
}

.swiper-slide-prev {
    border-radius: 4px;
    background: var(--white);
}

.slider__image-prev {
    padding: 4px;
}

.slider__image {
    padding: 8px;
}

.slider__thumbs .swiper-slide-thumb-active .slider__image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

.slider__images {
    height: 400px;
}

.slider__images .slider__image img {
    transition: 3s;
}

.slider__images .slider__image:hover img {
    transform: scale(1.1);
}

.slider__image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .slider__flex {
        flex-direction: column-reverse;
    }

    .slider__col {
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        margin-top: 24px;
        width: 100%;
    }

    .slider__images {
        width: 100%;
    }

    .slider__thumbs {
        height: 100px;
        width: calc(100% - 96px);
        margin: 0 16px;
    }

    .slider__prev,
    .slider__next {
        height: auto;
        width: 32px;
    }
}

/*EQUIPMENT END*/

/*FOOTER*/
footer {
    border-top: 1px solid rgba(30, 30, 30, 0.12);
    background: var(--white);
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px 0;
}

.footer_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_custom_text, .footer_custom_text a,
.footer_custom_text span {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer_custom_text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright {
    background: rgb(30, 30, 30);
}

.copyright_content {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.copyright_text {
    font-family: "SF-Pro";
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.copyright_link {
    border-radius: 16px;
    background: rgb(43, 45, 49);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 32px;
    height: 32px;

}

/*FOOTER END*/


/*contact page*/

.guard-contact {
    padding: 64px 0;
}

.contact-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 87px;

    height: 100%;
    min-height: 60vh;
}

.contact-intro-item.info {
    max-width: 320px;
}

.contact-intro-item.map {
    max-width: 588px;
}

#map {
    border-radius: 16px; /* Радиус скругления углов */
    overflow: hidden; /* Обрезать контент за пределами радиуса */
}

.contact-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 24px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 41px;
}

.contact-info-item {
    display: flex;
    align-items: center;
    gap: 9.5px;
}

.contact-info-item a {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    align-items: end;
}

.contact-form-title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 16px;
}

.contact_button_form_row {
    margin-top: 8px;
}

.contact-form-item {
    width: 100%;
    border: 1px solid #94A3B8;
    padding: 12px 16px;
    border-radius: 8px;
    color: #94A3B8;
    margin-bottom: 8px;
    line-height: 19px;
}

.contact-form-item::placeholder {
    color: #94A3B8;
}

.contact-form-btn {
    display: flex;
    width: max-content;
    line-height: 19px;
    padding: 12px 16px;
    color: #ffffff;
    background: #5E3570;
    border-radius: 8px;
    margin-top: 8px;
}

.contact-map {
    width: 588px;
    height: 483px;
}


/* modal*/
.model_application_content {
    border-radius: 24px;
    background: var(--white);
}

.model_application_title {
    color: rgb(30, 30, 30);
    font-family: "Inter";
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.model_application_row {
    margin-bottom: 8px;

}

.model_application_button {
    margin-top: 8px;

    display: flex;
    justify-content: end;
}

.model_close {
    color: #94A3B8 !important;
    border: 0;
    background: transparent;
}

.modal-application {
    --bs-modal-width: 588px;
}

.model_application_header {
    border: 0;
}

.model_application_header {
    padding: 32px 32px 0 32px;
}

.model_application_body {
    padding: 24px 32px 32px 32px;
}

/*modal end*/